@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.header {
    padding: 5px;
    display: block;
    margin-left: 190px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    letter-spacing: -0.017em;

    /* grey */
    color: #5A5A5A;
}

.paragraph {
    padding: 5px;
    display: block;
    margin-left: 190px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: -0.017em;

    color: #505050;
}

.input {
    border: 1px solid #BEBEBE;
    padding: 10px;
    margin-left: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 500px;
    margin-right: 10px;
}

.button {
    border-radius: 8px;
    background: #00A376;
    border: 1px solid #00A376;
    width: 150px;
    padding: 8px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: -0.017em;
    cursor: pointer;
}

/* Card List */

.cardList {
    margin-top: -50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* Disease Styling */

.disease__title {
    padding: 5px;
    display: block;
    margin-left: 140px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.017em;

    color: #505050;
}

.disease__card {
    /* green */

    margin-left: 140px;
    justify-content: start;
    width: 300px;
    padding: 15px;
    color: #00A376;
    background: white;
    /* green */
    border: 1px solid #00A376;
    border-radius: 10px;

}

.disease__card:hover {
    cursor: pointer;
}

.disease__header {
    text-decoration: none;
    text-transform: capitalize;
    color: #00A376;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
}

.disease__image {
    width: 100%;
}

.disease__desc {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;

    /* grey-light */
    color: #6E6E6E;

}

.disease__button {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: center;
    color: white;
    border: 0px;
    padding: 10px;
    background: #00A376;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.017em;
    cursor: pointer;
}

/* Diagnose Style */

.diagnose__title {
    padding: 5px;
    display: block;
    margin-left: 140px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.017em;

    color: #505050;
}

.diagnose__card {
    /* green */
    display: grid;
    margin-left: 140px;
    justify-content: start;
    width: 300px;
    padding: 15px;
    color: white;
    background: #00A376;
    /* green */
    border: 1px solid #00A376;
    border-radius: 10px;

}

.diagnose__header {
    text-decoration: none;
    color: white;
    margin-top: -10px;
    margin-bottom: -10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
}

.diagnose__desc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
    color: #E1E1E1;
}

.diagnose__detail {
    text-decoration: none;
    color: white;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-right: 5px;
    margin-top: 10px;
    line-height: 15px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;

    color: #FFFFFF;
    background-color: #00A376;
    padding: 1em;
    border: 0;
    cursor: pointer;
}

@media screen and (min-width: 350px) {
    .main {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 100px;
    }

    .header {
        margin-left: 0;
        text-align: center;
    }

    .input {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .button {
        width: 100%;
    }

    .paragraph {
        margin-left: 0;
    }

    .diagnose__title {
        margin-left: 0;
        text-align: center;
    }

    .diagnose__card {
        width: 100%;
        margin-left: 0;
    }

    .cardList {
        display: flex;
        justify-content: center;
    }

    .disease__title {
        margin-left: 0;
        text-align: center;
    }

    .disease__card {
        width: 100%;
        margin-left: 0;
    }

    .loadingText {
        display: inline-block;
        position: relative;
        left: 45%;
        margin-top: 10px;
        width: 80px;
        height: 80px;
    }

    .loadingText::after {
        content: " ";
        display: block;
        margin: 0 auto;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 7px solid #00A376;
        border-color: #00A376 transparent #00A376 transparent;
        animation: loadingText 1.2s linear infinite;
    }
        

    @keyframes loadingText {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

@media screen and (min-width: 1100px) {
    .diagnose__title {
        margin-left: 0;
        text-align: left;
    }

    .cardList {
        justify-content: flex-start;
    }

    .disease__title {
        margin-left: 0;
        text-align: start;
    }

    .disease__card {
        width: 40%;
        justify-content: center;
        margin-left: 0;
    }
}