@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.header {
    padding: 5px;
    display: block;
    margin-left: 190px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    letter-spacing: -0.017em;

    /* grey */
    color: #5A5A5A;
}

.paragraph {
    padding: 5px;
    display: block;
    margin-left: 190px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: -0.017em;

    color: #505050;
}

.wrapper_list_drug {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row ;
}

.input {
    border: 1px solid #BEBEBE;
    padding: 10px;
    margin-left: 200px;
    border-radius: 8px;
    width: 500px;
    margin-right: 10px;
}

.note {
    margin: 10px 0;
    font-size: 13px;
}

.button {
    border-radius: 8px;
    background: #00A376;
    border: 1px solid #00A376;
    width: 150px;
    padding: 8px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: -0.017em;
    cursor: pointer;
}

/* Card List */

.cardList {
    margin-top: -50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cardList span p {
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.cardlist div {
    display: flex;
    flex-direction: column;
}

/* Disease Styling */

.disease__title, .diagnose__title  {
    margin-bottom: 0;
}

.disease__title {
    padding: 5px;
    display: block;
    margin-left: 140px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: -0.017em;

    color: #635555;
}

.disease__card {
    /* green */

    margin-left: 140px;
    justify-content: start;
    width: 300px;
    padding: 15px;
    color: #00A376;
    background: white;
    /* green */
    border: 1px solid #00A376;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease;
}

.disease__card:not(:first-child) {
    margin-left: 20px;
}

.disease__card:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px #d1d1d1;
    transform: scale(.98);
}

.disease__card div {
    height: 20vh;
    overflow: hidden;
    border-radius: 10px;
    
}

.disease__header {
    text-decoration: none;
    text-transform: capitalize;
    color: #00A376;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
}

.disease__image {
    width: 100%;
    height: fit-content;
}

.disease__desc {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
    margin: 10px 0 !important;
    /* grey-light */
    color: #6E6E6E;

}

.disease__button {
    width: 100%;
    color: white;
    border: 0px;
    padding: 10px;
    background: #00A376;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.017em;
    cursor: pointer;
}

/* Diagnose Style */

.diagnose__title {
    padding: 5px;
    display: block;
    margin-left: 140px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: -0.017em;

    color: #505050;
}

.diagnose__card {
    /* green */
    display: grid;
    justify-content: start;
    padding: 15px;
    color: white;
    /* green */
    border: 1px solid #00A376;
    border-radius: 10px;
    transition: transform .2s;
}

.wrap {
    flex-wrap: wrap;
}

.diagnose__card.fullWidth, .disease__card.fullWidth {
    width: 100%;
}

.diagnose__card.cardWidth, .disease__card.cardWidth {
    width: 300px;
}

.diagnose__card:hover {
    transform: scale(.98);
    cursor: pointer;
}

.priority {
    background: #00A376;
    color: white;
}

.releated {
    background-color: #f7f7f7;
    color: black;
}

.diagnose__header {
    text-decoration: none;
    color: white;
    margin-top: -10px;
    margin-bottom: -10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
}

.diagnose__desc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
}

.diagnose__button_to_detail {
    text-decoration: none;
    color: white;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-right: 5px;
    margin-top: 10px;
    line-height: 15px;
    /* identical to box height */
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: -0.017em;
    padding: 1em;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s;
}

.diagnose__card:hover .diagnose__button_to_detail {
    background-color: #00A376;
    color: white;
    border: 2px solid white;
}

.releated .diagnose__button_to_detail {
    color: #00A376;
    border: 2px solid #00A376 ;
}

.priority .diagnose__button_to_detail {
    color: #FFFFFF;
    background-color: #00A376;
}

@media screen and (min-width: 350px) {
    .main {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 100px;
        min-height: 69.7vh;
    }

    .header {
        margin-left: 0;
        text-align: center;
    }

    .input {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .button {
        width: 100%;
    }

    .paragraph {
        margin-left: 0;
    }

    .diagnose__title {
        margin-left: 0;
    }

    .diagnose__card { 
        margin-left: 20px;
        margin-top: 20px;
    }

    .cardList {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .cardList span {
        display: flex;
    }

    .disease__title {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .disease__card {
        width: 100%;
        margin-left: 0;
    }

    .loadingText {
        display: inline-block;
        position: relative;
        left: 45%;
        margin-top: 10px;
        width: 80px;
        height: 80px;
    }

    .loadingText::after {
        content: " ";
        display: block;
        margin: 0 auto;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 7px solid #00A376;
        border-color: #00A376 transparent #00A376 transparent;
        animation: loadingText 1.2s linear infinite;
    }
        

    @keyframes loadingText {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

@media screen and (max-width: 500px) {
    .diagnose__title {
        margin-left: 0;
        text-align: left;
    }

    .cardList {
        justify-content: flex-start;
    }

    .cardList span {
        flex-direction: column;
    }

    .cardListDrug .cardListDrugWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-flow: wrap;
    }

    .diagnose__card {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0 !important;
    }

    .wrapper_list_drug  {
        flex-direction: column;
    }

    .disease__title {
        margin-left: 0;
        text-align: start;
    }

    .disease__card {
        width: 100%;
        justify-content: space-between;
        margin-left: 0 !important;
        margin-bottom: 5vh;
    }
}