@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  color: white;
}

li {
  text-decoration: none;
}

section {
  padding: 50px;
}

footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  left: 0px;
  color: white;
  background: #00A376;
  padding: 10px;
}

footer div {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.017em;
  position: relative;
  left: -100px;

  color: #E1E1E1;
}

footer ul {
  list-style: none;
}

footer li {
  margin: 10px 0; 
}

footer a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 350px) {
  nav ul {
    display: flex;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 10px;
    top: 4em;
    background-color: #007a58;
  }

  footer{
    display: none;
  }
}

@media screen and (min-width: 700px) {
  nav ul {
    display: flex;
    position: absolute;
    right: 0;
  }
  footer{
    display: flex;
  }
}